name: Update README with Top Contributors

on:
  schedule:
    - cron: "0 0 1 * *"
  workflow_dispatch:

permissions:
  contents: write

env:
  TARGET_BRANCH: "dev"
  REPOS: |
    TrussInt/lhg-frontend-react
    TrussInt/trussint-api
    TrussInt/big-brother-internal-api
    TrussInt/temeletry-web
    TrussInt/telemetry-ios
    TrussInt/lhg-app-ios

jobs:
  update-readme:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run contributor extractor
        env:
          ACTIONS_PAT: ${{ secrets.ACTIONS_PAT }}
        run: bash .github/scripts/get_top_contributors.sh 

      - name: Update README
        run: bash .github/scripts/update_readme.sh

      - name: Commit and Push
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add profile/README.md
          git commit -m "Update top contributors ($(date -u '+%Y-%m-%d %H:%M:%S UTC'))" || exit 0
          git push
